In [5]:
import pandas as pd
from pprint import pprint

In [6]:
def dim_date_dataframe(start_date: str, end_date: str):
    all_dates = pd.date_range(
        start=start_date, end=end_date, tz="Europe/London", normalize=True
    )
    date_dataframe = pd.DataFrame({"date_value": all_dates})

    date_dataframe["year"] = date_dataframe["date_value"].dt.year
    date_dataframe["month"] = date_dataframe["date_value"].dt.month
    date_dataframe["day"] = date_dataframe["date_value"].dt.day
    date_dataframe["day_of_week"] = date_dataframe["date_value"].dt.weekday + 1
    date_dataframe["day_name"] = date_dataframe["date_value"].dt.day_name()
    date_dataframe["month_name"] = date_dataframe["date_value"].dt.month_name()
    date_dataframe["quarter"] = date_dataframe["date_value"].dt.quarter
    date_dataframe["date_id"] = date_dataframe["date_value"].dt.date

    date_dataframe = date_dataframe[
        [
            "date_id",
            "year",
            "month",
            "day",
            "day_of_week",
            "day_name",
            "month_name",
            "quarter",
        ]
    ]

    return date_dataframe

In [7]:
dim_design_df = dim_date_dataframe("20221102", "20500101")
pprint(dim_design_df)

         date_id  year  month  day  day_of_week   day_name month_name  quarter
0     2022-11-02  2022     11    2            3  Wednesday   November        4
1     2022-11-03  2022     11    3            4   Thursday   November        4
2     2022-11-04  2022     11    4            5     Friday   November        4
3     2022-11-05  2022     11    5            6   Saturday   November        4
4     2022-11-06  2022     11    6            7     Sunday   November        4
...          ...   ...    ...  ...          ...        ...        ...      ...
9918  2049-12-28  2049     12   28            2    Tuesday   December        4
9919  2049-12-29  2049     12   29            3  Wednesday   December        4
9920  2049-12-30  2049     12   30            4   Thursday   December        4
9921  2049-12-31  2049     12   31            5     Friday   December        4
9922  2050-01-01  2050      1    1            6   Saturday    January        1

[9923 rows x 8 columns]